<style>
    body        { background: #fff; text-color: #000; margin-left:  40px;   font-size:  0.9em;  font-family: arial; }

    code        { font-size:    1.1em;  background:  #ddf; text-color: #000; }
    pre         { margin-left:  2em;    background:  #ddf; text-color: #000; }
    pre code    { font-size:    1.1em;  background:  #ddf; text-color: #000; }

    td          { vertical-align: top }

    .red        { color: red }
    .blue       { color: blue }
    .green      { color: green }
    .gray       { color: gray }
    .pink       { color: pink }

    .box        { background-color:#e0e0e0 }
    .bg-red     { background-color:#ffe0e0 }
    .bg-green   { background-color:#e0ffe0 }
    .bg-blue    { background-color:#e0e0ff }

    /* couldn't resist the name! */
    .wd40       { width: 40% !important }

    .box-l      { float: left;  padding: 0px 0.5em; background-color: #e0e0e0; width:25%; margin-right: 4px; }
    .box-r      { float: right; padding: 0px 0.5em; background-color: #e0e0e0; width:25%; margin-left:  4px; }

    .fl-l       { float: left;  padding: 0px 0.5em;                                       margin-right: 4px; }
    .fl-r       { float: right; padding: 0px 0.5em;                                       margin-left:  4px; }

    .sidebar {
        margin-left: 4px;
        width: 25%;
        float: right;
        border: 4px solid #fff;
    }

    .note
    {
         background-color: #f0f7fb;
         background-image: url(pencil.png);
         background-position: 9px 0px;
         border: solid 1px #3498db;
         border-radius: 6px;
         line-height: 18px;
         overflow: hidden;
         padding: 15px 60px;
    }

</style>
